{{page-title 'Tic Tac Toe'}}
{{!-- <h1 id='body-title' style="color:blue">
  Welcome to Tic Tac Toe Game
</h1>
<h2 id='body-subtitle' style="color:rgb(0, 183, 255);font-style:italic">
  8 ways to win
</h2> --}}
<div class='navigation'>
  {{!-- <LinkTo @route='home' class='navigation-item'>
  </LinkTo>
  <LinkTo @route='about' class='navigation-item'>
    About
  </LinkTo> --}}
</div>
{{outlet}}