{{page-title "Home"}}

<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <div style=" background-color: rgb(193, 197, 200);">
    <nav>
      <div class="menu">
        <div class="logo">
          <a href="#">Tic Tac Toe</a>
        </div>
        {{!-- <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="#">Feedback</a></li>
        </ul> --}}
      </div>
    </nav>
    <div class="img"></div>
    <div class="center">
      <div class="btns">
        <a href="/about"><i class="fa fa-play-circle-o" style="font-size:250px;"></i></a>
        <div class="title">Press Here To Play</div>
      </div>
    </div>
    <br><br>
    <div class="cont-sm">
      <div id="content">
        <section class="details txt pb-0" style="padding-top: 2px;">
          <div class="row-md">
            {{!-- <h1 class="txt-md ta-c">Tic Tac Toe</h1> --}}
            <div class="col-12 play">
              <h3>HOW TO PLAY</h3>
              <ol>
                <li>Choose your opponent</li>
                <li>Press a square to place your mark</li>
                <li>Make three in a row horizontally, vertically, or diagonally to win</li>
                <li>Watch your opponent and block them if they get 2 in a row</li>
              </ol>
            </div>
          </div>
          <div class="row-md">
            <div class="col-8">
              <h3>RULES</h3>

              <p>Tic-Tac-Toe is a simple and fun game for 2 players, X and O. It is played on a 3x3 grid. Each player's
                goal is to make 3 in a row.</p>
              <p>Typically, O starts first, but in Gametable's Tabletop Tic Tac Toe, Player 1 starts first on the first
                game and Player 2 starts first on the next game. The starting player continues to
                alternate from game to game. This helps keep gameplay fair over time.
              </p>
              <p>Players take turns placing their Mark, X or O, on an open square in the grid. The first player to make
                3 of their own mark in a row vertically, horizontally, or diagonally wins the game.
              </p>
              <p>If all 9 squares are filled and neither player has 3 in a row, the game is considered a Tie.
              </p>
              <p>The expert artificial intelligence (AI) will play a perfect game. Try your best to Tie it for as long
                as you can!
              </p>


            </div>
          </div>
        </section>
      </div>
    </div>
     </div>
    <div style=" background-color: #030303;">
      <br>
        <div>
          <a href="#">Facebook</a>
        </div><br>
        <div>
          <a href="#">Twitter</a>
        </div><br>
        <div>
          <a href="#">Google</a>
        </div><br>
    </div>
    <br><br><br>
 
</body>
{{outlet}}